@page "{id}"
@model BankWebApp.Pages.Users.UserPasswordResetModel
@{
    ViewData["Title"] = "- User Reset Password";
}
<div class="row">
    <div class="col-md-4">
        <section class="section-fixed">
            <div id="page-section-1" class="section-rel-fixed">
                <div class="login-card">
                    <div class="table-meta-flex">
                        <a class="page-navigator-back-btn"
                           asp-page="/Users/Users">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                        <div class="page-name font-weight-4">
                            Reset password
                        </div>
                    </div>
                    <div class="form-box-container">
                        <form method="post">
                            <div class="form-box">
                                <div class="form-box-inner">
                                    <div>
                                        <label asp-for="@Model.NewPassword">Password</label>
                                    </div>
                                    <div>
                                        <input type="password" asp-for="@Model.NewPassword">
                                    </div>
                                    <div class="form-box-span">
                                        <span asp-validation-for="@Model.NewPassword"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-box">
                                <div class="form-box-inner">
                                    <div class="form-btn">
                                        <button asp-page-handler="ResetPassword" class="font-weight-2" type="submit">RESET</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


