.login-card {
    color: #ffb121;
    border: 1px solid #ffb121;
    border-radius: 5px;
    padding: 5px 10px;
    background: rgba(28, 27, 34, 0.5);
    backdrop-filter: blur(20px);
    margin-top: -2%;
    width: 500px;
    padding: 20px 30px;
}


::deep forn {
    display: flex;
    align-items: center;
    text-decoration: none;
}
::deep form input {
    background: #1c1b22;
    color: #ffb121;
    border: 1px solid #ffb121;
    border-radius: 5px;
    outline: none;
    
}
    ::deep form input:focus {
        color: #1c1b22;
        background: #ffb121;
        outline: 0;
    }
::deep form input::checked {
    color: #1c1b22;
    background: #ffb121;
}

::deep form button {
    background: #1c1b22;
    color: #ffb121;
    border: 1px solid #ffb121;
    border-radius: 5px;
    outline: none;
}

::deep form button:hover {
    color: #1c1b22;
    background: #ffb121;
}

::deep a {
    text-decoration: none;
    color: #ffb121;
}
::deep a:hover {
    color: white;
}



.form-box {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-bottom: 10px;
}
::deep .form-box-inner {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 5px; 
}

.form-box-check {
    width: 100%;
    padding: 0 10px;
    margin-top: 20px;
}

.form-box-btn {
    width: 100%;
    padding: 5px;
}
.form-box {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}
